<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seed Scheduler Dashboard</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}">
   
</head>
<body>
    <div class="title">
        <h1 class="test">Seed Scheduler Dashboard</h1>
    </div>
    

    <div class="content-panels-wrapper">
        <div class="input-panel">
            <form class="input-form" id="seedPackForm" th:action="@{/api/seedpack/add}" th:method="post" hx-post="/api/seedpack/add" hx-target="#response" hx-swap="outerHTML">
                 <div>
                    <label for="year">Year:</label>
                    <select id="year" name="year" hx-get="/api/getYears" hx-trigger="load" hx-target="#year">
                     <option name="">Select a year</option>
                    </select>
                 </div>
                

                
                <div>
                    <label for="month">Month:</label>
                    <select id="month" name="month" hx-get="/api/getMonthParts" hx-trigger="change, load-data" hx-target="#monthPartDropdown" hx-includes="month">
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>

                <label for="monthPart">Week in month:</label>
                <div id="monthPartDropdown">
                </div>
                
            
            </form>
        </div>
    </div>
<script>
    htmx.config.debug = true;
    
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var loadEvent = new Event('load-data');
        document.getElementById('month').dispatchEvent(loadEvent);
    });
</script>



</body>
</html>
